/* Recettes filtrées */
main {
    display: flex;
    flex-flow: row wrap;
    gap: 3%;
    justify-content: space-around;
}

figure {
    width: 30%;
    min-width: 340px;
    height: 365px;
    background: #E7E7E7;
    border-radius: 5px;
    margin: 10px 0px;
}

figure img {
    object-fit: cover;
    width: 100%;
    height: 150px;
}

figcaption {
    height: 185px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px; /* Espacement entre les cellules de la grille */
    padding: 20px;
    padding-top: 0;
}

figcaption h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.time {
    text-align: right;
    margin-right: 30px;
}

.ingredients{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.ingredients strong {
    font-weight: 700;
}

.description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #000000;
    
    overflow: hidden;
    text-overflow: ellipsis;
}
