@import url(filter.css);
@import url(recettes.css);

body {
    max-width: 1400px;
    margin: 20px 50px;
}

header {
    text-align: center;
    margin-top: 40px;
}

h1 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;

    color: #D04F4F;
    margin: 0;
}

/* Formulaire de recherche */
form {
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    margin: 10px 0; 
    justify-content: center;
}

.searchBar input{
    width: 93%;
    height: 50px;
    background: #E7E7E7;
    border-radius: 5px;
    padding-right: 50px;
    padding-left: 30px;
    border: transparent;
}

.searchBar input::placeholder{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
    opacity: 0.25;
}

.searchBar button {
    position: absolute;
    top: 170px;
    right: 70px;
    transform: translateY(-50%);
    width: 33px;
    height: 33px;
    background-color: transparent;
    border: none;
}

.searchBar button i {
    font-size: 30px;
    cursor: pointer;
}